body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

header,
footer {
  background-color: #007bff;
  color: white;
}

h1,
h2 {
  color: #333;
}

#simulador input,
#simulador button {
  width: 100%;
}
